<div *ngIf="admin">
    <h1>Settings</h1>

    <div class="text-center">
        <label for="change-avatar" class="label-set-img my-icon-cloud-computing">
        <img class="img-circle set-img" #imgAvatar [src]="userData.avatar ? (serverUrl + 'avatar/' + userData.avatar) : 'assets/img/user_none.png'" alt=""> 
    </label>
        <input type="file" id='change-avatar' (change)="changeAvatar($event)" style="display: none;">
        <mat-error *ngIf="imageError.length">{{imageError}}</mat-error>
    </div>


    <form class="settings-form" [formGroup]="settings">
        <mat-form-field class="input">
            <input formControlName="firstname" placeholder="First name" matInput required>
            <mat-error *ngIf="settings.controls.firstname.errors?.required" class="alert alert-danger">
                First name is required.
            </mat-error>
        </mat-form-field>
        <mat-form-field class="input">
            <input formControlName="lastname" placeholder="Last name" matInput required>
            <mat-error *ngIf="settings.controls.lastname.errors?.required" class="alert alert-danger">
                Last name is required.
            </mat-error>
        </mat-form-field>
        <mat-form-field class="input">
            <input formControlName="email" placeholder="Email" matInput required>
            <mat-error *ngIf="settings.controls.email.errors?.required" class="alert alert-danger">
                Email is required.
            </mat-error>
            <mat-error *ngIf="settings.controls.email.errors?.email" class="alert alert-danger">
                Email invalid.
            </mat-error>
        </mat-form-field>
        <mat-form-field class="input">
            <input formControlName="age" placeholder="Age" type="number" [min]="1" [max]="100" matInput required>
            <mat-error *ngIf="settings.controls.age.errors?.range" class="alert alert-danger">
                Use numbers from 1 to 100.
            </mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Class" formControlName='class' required>
                <mat-option>Class</mat-option>
                <mat-option *ngFor="let class of classes" [value]="class['_id']">{{ class.name }}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-error *ngIf="settings.controls.class.errors?.required && (settings.controls.class.dirty || settings.controls.class.touched)" class="alert alert-danger">
            Class required.
        </mat-error>
        <div>
            <button (click)="removeUser(settings)" mat-raised-button color="warn">Remove acount</button>
            <button (click)="updateUser(settings)" mat-raised-button color="grey">Save</button>
        </div>
    </form>
</div>
<div *ngIf="!admin" class="user-view">
    <div class="text-center ">
        <div class="img-block">
            <a class="plus-user icon-user" matTooltip="Friend"></a>
            <img class="img-circle set-img" [src]="userData.avatar ? (serverUrl + 'avatar/' + userData.avatar) : 'assets/img/user_none.png'" alt=""></div>
    </div>
    <mat-list>
        <mat-list-item>
            <div> <strong>First Name</strong></div>
            <div>{{userData.firstname}}</div>
        </mat-list-item>
        <mat-list-item>
            <div> <strong>Last Name </strong></div>
            <div>{{userData.lastname}}</div>
        </mat-list-item>
        <mat-list-item>
            <div> <strong>Email</strong> </div>
            <div>{{userData.email}}</div>
        </mat-list-item>
        <mat-list-item>
            <div><strong>Age </strong></div>
            <div>{{userData.age}}</div>
        </mat-list-item>
        <mat-list-item>
            <div> <strong>Class</strong></div>
            <div>{{userData.class.name}}</div>
        </mat-list-item>
    </mat-list>
    <div>
        <button mat-raised-button (click)="sendMessage(userData['_id'])" color="primary">Send messages</button>
        <button mat-raised-button (click)="addToFriends(userData['_id'])" color="grey">Add to friends</button>
    </div>
</div>
