.user-container {
    overflow-y: auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
}

.cont {
    width: 100%;
    height: 85vh;
    overflow-y: auto;
}

.mat-card {
    width: 15%;
    margin: 15px 10px; 
}

@media screen and (max-width: 1400px) {
    .mat-card {
        width: 23%;
    }
}

.mat-card-image {
    width: 50%
}

.user-card {
    padding: 20px;
}

.view-btn {
    width: 100%;
}

.mat-button:hover {
    background-color: #55A8FD;
    color: white;
}

.mat-card-image {
    margin: 0;
    margin-bottom: 5px;
}

.user-img {
    width: 90px;
    height: 90px;
    object-fit: cover;
}

.img-block {
    display: inline-block;
    position: relative;
    margin-bottom: 5px;
}

.plus-user {
    display: inline-block;
    width: 25px;
    height: 25px;
    position: absolute;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    right: 0;
    bottom: 5px;
    background: #36C2A6;
    border-radius: 50%;
}

.plus-user:before {
    /*line-height: 23px;*/
    width: auto;
    color: black;
    margin-right: 0;
    margin-left: 0;
}

.nav li a {
    cursor: pointer;
}

.mat-card-actions,
.mat-card-content,
.mat-card-subtitle,
.mat-card-title {
    margin-bottom: 0;
}
