<div class="row message-page">
    <div class="col-sm-3">
        <div class="row">
            <div id="sidebar" class="users p-chat-user showChat">
                <div class="had-container">
                    <div class="card card_main p-fixed users-main">
                        <div class="user-box">
                            <!--<div class="card-block">-->
                            <!--    <div class="right-icon-control">-->
                            <!--        <input type="text" class="form-control  search-text" placeholder="Search Friend" id="search-friends">-->
                            <!--        <div class="form-icon">-->
                            <!--            <i class="icofont icofont-search"></i>-->
                            <!--        </div>-->
                            <!--    </div>-->
                            <!--</div>-->
                            <div class="main-friend-list">
                                <div class="media userlist-box" title="{{room.user.firstname}}{{room.user.lastname}}" *ngFor="let room of chatRoom" (click)="showDialog(room)">
                                    <a class="media-left">
                            <img class="media-object img-circle" [src]="room.user.avatar ? (serverUrl + 'avatar/' + room.user.avatar): 'assets/img/user_none.png'" alt="Generic placeholder image">
                            <div class="live-status bg-success"></div>
                            </a>
                                    <div class="media-body">
                                        <div class="f-13 chat-header"><span>{{room.user.firstname}}</span>  <span>{{room.user.lastname}}</span></div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-9 message">
        <app-message-room *ngIf="id.length" [id]="id" [avatar]="roomAvatar"> </app-message-room>
    </div>
</div>
