<mat-tab-group class="demo-tab-group" #myColor>
  <mat-tab label="{{class.name}}" *ngFor="let class of classes">
    <div class="class-tab-content">
      <div class="table-responsive">
        <table class="table table-users table-hover">
          <thead>
            <tr>
              <th class="size-80"></th>
              <th>Name</th>
              <th>Email</th>
              <th>Class</th>
              <th class="text-center">Status</th>
              <th class="text-center">Friend</th>
              <th class="size-80 text-center">Options</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let user of usersClass'>
              <td class="size-80"><img class="avatar img-circle" [src]="user.avatar ? (serverUrl + 'avatar/' + user.avatar) : 'assets/img/user_none.png'" alt="" title=""></td>
              <td><strong>{{user.firstname + user.lastname}}</strong></td>
              <td>{{user.email}}</td>
              <td>{{user.class}}</td>
              <td class="text-center"><span class="badge badge-bordered">Admin</span></td>
              <td class='text-center'><i class="icon-check icon-larger green-color"></i></td>
              <td class="size-80">
                <div class="dropdown" dropdown>
                  <a dropdownToggle class="more-link"><i class="icon-dot-3 ellipsis-icon"></i></a>
                  <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
                    <li><a href="#">Change Date Range</a></li>
                    <li><a href="#">Change Graph Type</a></li>
                    <li><a href="#">Other Settings</a> </li>
                  </ul>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
