.ng-star-inserted, app-all-clases{
    max-width: 100%;
}
.class-tab-content{
    padding: 20px;
    overflow: auto;
    height: 82vh;
}
.bs-example .btn, .bs-example-group .btn-group{
    margin: 2px;
}