<div class="content" style="height:100vh">
	<div class="menu">
		<div class="text-center"><img class="user-img" [src]="user.avatar ? (serverUrl + 'avatar/' + user.avatar): 'assets/img/user_none.png' "></div>
		<h2 class="text-center">{{user.firstname}}</h2>
		<h2 class="text-center">{{user.lastname}}</h2>
		<mat-list>
			<mat-list-item><a class="my-icon-user" routerLinkActive="active" routerLink="users">Users</a> </mat-list-item>
			<mat-list-item><a class="my-icon-university" routerLinkActive="active" routerLink="class">Clases</a> </mat-list-item>
			<mat-list-item><a class="icon-mail" routerLinkActive="active" routerLink="messages">	Messages</a> </mat-list-item>

		</mat-list>
		<mat-list class='menu-set'>
			<mat-list-item><a class="my-icon-settings" routerLinkActive="active" routerLink="/profile">Settings</a> </mat-list-item>
			<mat-list-item><a (click)="LogOut()" class="my-icon-exit">Log out</a> </mat-list-item>
		</mat-list>
	</div>
	<div class="outlet">
		<div class="main-header row">
			<div class="col-sm-6 col-xs-7">

				<!-- User info -->
				<ul class="user-info pull-left">
					<li class="profile-info dropdown" dropdown><a dropdownToggle class="dropdown-toggle"> <img width="44" class="img-circle avatar" alt="" [src]="user.avatar ? (serverUrl + 'avatar/' + user.avatar) : 'assets/img/user_none.png'">{{user.firstname}} {{user.lastname}} <span class="caret"  ></span></a>

						<!-- User action menu -->
						<ul *dropdownMenu class="dropdown-menu">

							<li><a href="/profile"><i class="icon-user"></i>My profile</a></li>
							<li><a href="#/"><i class="icon-mail"></i>Messages</a></li>
							<li class="divider"></li>
							<li><a href="/profile"><i class="icon-cog"></i>Account settings</a></li>
							<li><a (click)="LogOut()"><i class="my-icon-exit"></i>Log Out</a></li>
						</ul>
						<!-- /user action menu -->

					</li>
				</ul>
				<!-- /user info -->

			</div>

			<div class="col-sm-6 col-xs-5">
				<div class="pull-right">
					<!-- User alerts -->
					<ul class="user-info pull-left">

						<!-- Notifications -->
						<li class="notifications dropdown" dropdown>
							<a dropdownToggle class="dropdown-toggle"><i class="icon-user-add"></i><span *ngIf="friends.length" class="badge badge-info">{{friends.length}}</span></a>
							<ul class="dropdown-menu pull-right" *dropdownMenu>
								<li class="first">
									<div class="small"><a class="pull-right" *ngIf="friends.length"> You have <strong>{{friends.length}}</strong> new requests.</a>New friend requests</div>
								</li>
								<li>
									<ul class="dropdown-list friend-list">
										<li class="unread notification-success" *ngFor="let friend of friends">
											<div class="col-sm-2"><img [src]="friend.avatar ? (serverUrl + 'avatar/' + friend.avatar): 'assets/img/user_none.png' "></div>
											<div class="col-sm-8"> <span class="block-line strong">{{friend.firstname }}{{friend.lastname }}</span> <span> 30 minet go</span></div>
											<div class="col-sm-2"> <i class="icon-user-add" (click)="addToFriends(friend['_id'])"></i></div>
										</li>
										<li *ngIf="!friends.length" class="friend-list-none">
											Requests to friend none.
										</li>
									</ul>
								</li>
								<li  *ngIf="friends.length" class="external-last"> <a href="#">View all requests</a> </li>
							</ul>
						</li>
						<!-- /notifications -->

						<!-- Messages -->
						<li class="notifications dropdown" dropdown>
							<a dropdownToggle class="dropdown-toggle"><i class="icon-mail"></i><span class="badge badge-secondary">1</span></a>
							<ul class="dropdown-menu pull-right" *dropdownMenu>
								<li class="first">
									<div class="dropdown-content-header"><i class="fa fa-pencil-square-o pull-right"></i> Messages</div>
								</li>
								<li>
									<ul class="media-list">
										<li class="media">
											<div class="media-left"><img alt="" class="img-circle img-sm" src="images/domnic-brown.png"></div>
											<div class="media-body">
												<a class="media-heading" href="#">
													<span class="text-semibold">Domnic Brown</span>
													<span class="media-annotation pull-right">Tue</span>									
												</a>
												<span class="text-muted">Your product sounds interesting I would love to check this ne...</span>
											</div>
										</li>

									</ul>
								</li>
								<li class="external-last"> <a href="#">All Messages</a> </li>
							</ul>
						</li>
						<!-- /messages -->

					</ul>
					<!-- /user alerts -->

				</div>
			</div>
		</div>
		<router-outlet></router-outlet>
	</div>
</div>
